        <div class="footer">
                <div class="container">
                        <div class="row">
                                <div class="col-xs-12">
                                        <div class="subtitle">Highbrow Seattle</div>
                                        <i class="fa fa-phone-square" aria-hidden="true"></i> 206 555-5555 |
                                        <i class="fa fa-envelope" aria-hidden="true"></i> jess@highbrowseattle.com
                                        <div>Copyright &copy; 2016.</div>
                                </div>
                        </div>

                </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
    </body>
</html>