<% include partials/header %>
    
    <!-- Landing container with parallax effect -->
    <div id="book-landing">
        <div class="container-fluid parallax">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content">
                        <h1 class="title">Book Online</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Introduction container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3 class="title">
                        Book an Appointment
                    </h3>
                    <div class="highlight">Find an available time and lets meet!</div> 
                    <hr>
                </div>
            </div>
        </div> 
    </div>

        
<% include partials/footer %>