<% include partials/header %>
    
    <!-- Landing container with parallax effect -->
    <div id="faq-landing">
        <div class="container-fluid parallax">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content">
                        <h1 class="title">FAQ</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Introduction container -->
    <div class="container portfolio-intro">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3 class="title">
                        Frequently Asked Questions
                    </h3>
                    <div class="highlight">Still confused? <span><a href="#">Ask Jess!</a></span></div> 
                    <hr>
                </div>
            </div>
        </div> 
    </div>
    
    <!-- FAQ  Container --> 
    <div class="container faq">
        <div class="row">
            <div class="col-xs-12">
                <div class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                </div>
                <div class="answer">
                    Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauri.
                </div>
            </div>
            
            <div class="col-xs-12">
                <div class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                </div>
                <div class="answer">
                    Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauri.
                </div>
            </div>
            
            <div class="col-xs-12">
                <div class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                </div>
                <div class="answer">
                    Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauri.
                </div>
            </div>
            
            <div class="col-xs-12">
                <div class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                </div>
                <div class="answer">
                    Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauri.
                </div>
            </div>
            
            <div class="col-xs-12">
                <div class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                </div>
                <div class="answer">
                    Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauri.
                </div>
            </div>
            
        </div>
    </div>

        
<% include partials/footer %>