<% include partials/header %>
    
    <!-- Landing container with parallax effect -->
    <div id="landing">
        <div class="container-fluid parallax">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content">
                        <h1 class="subtitle">Highbrow Seattle</h1>
                        <h3>BOLD | BALANCED | NATURAL</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Introduction container -->
    <div class="container intro">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3 class="title">What is Microblading?</h3>
                    <hr>
                    <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer nec odio. Praesent libero. Sed cursus ante dapibus 
                        diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. 
                        Duis sagittis ipsum. Fusce nec tellus sed augue semper porta. 
                        Mauris massa. Vestibulum lacinia arcu eget nulla. 
                    </p>
                </div>
                <div class="row intro-row">
                    <div class="col-sm-6">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <h4>Pre-Procedure</h4>
                        <p>
                            Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <h4>Aftercare</h4>
                        <p>
                            Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   <!-- Meet the Artist container -->    
    <div class="container artist">
        <div class="row">
            <h3 class="title">Meet the Artist</h3>
            <hr>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-3 col-md-offset-1">
                        <img class="img-responsive img-circle headshot" src="/images/portrait.jpg">
                    </div>
                    <div class="col-md-7">
                        <h3 class="subtitle">Jessica Han</h3>
                        <div class="highlight">Microblading Artist & Traveling Freelancer</div>
                        <div class="top-padding">
                            Class aptent taciti sociosqu ad litora torquent per conubia 
                            nostra, per inceptos himenaeos. Curabitur sodales ligula in 
                            libero. Sed dignissim lacinia nunc. Pellentesque nibh. In 
                            scelerisque sem at dolor. Maecenas mattis. Sed convallis.
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Portfolio Action Container with Parallax Effect --> 
    <div id="portfolio-action">
        <div class="container-fluid parallax">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content">
                        <h1 class="subtitle">Bold & Natural</h1>
                        <h3>Sed dignissim lacinia</h3>
                        <hr>
                        <a href="#" class="btn btn-default btn-lg">Let's Talk!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Featured Container --> 
    <div class="container featured">
        <div class="row text-center">
            <h3 class="title">Take a look around. Fall in love.</h3>
            <!--<div class="highlight">Nulla quis sem at nibh</div> -->
            <hr>
            <div class="col-xs-12 col-sm-3">
                <a href="#">
                    <i class="fa fa-map-pin" aria-hidden="true"></i>
                    <div class="bottom-padding">
                        <h4 class="subtitle">Services</h4>
                        <div class="highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ne.</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3">
                <a href="#">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <div class="bottom-padding">
                        <h4 class="subtitle">Portfolio</h4>
                        <div class="highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ne.</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3">
                <a href="#">
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <div class="bottom-padding">
                        <h4 class="subtitle">FAQ</h4>
                        <div class="highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ne.</div>
                    </div>
                </a>
            </div>            
            <div class="col-xs-12 col-sm-3">
                <a href="#">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    <div class="bottom-padding">
                        <h4 class="subtitle">Contact</h4>
                        <div class="highlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ne.</div>
                    </div>
                </a>
            </div> 
        </div>
    </div>

    <!-- Testimonials Container --> 
    <div class="container">
        <div class="row text-center">
            <h3 class="title">Testimonials</h3>
            <hr>
            <div class="col-sm-4 testimonial">
                <div class="thumbnail">
                    <div class="quote">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </div>
                    <div class="content signature">
                        - Sleeping Beauty
                    </div>
                </div>
            </div>
            <div class="col-sm-4 testimonial">
                <div class="thumbnail">
                    <div class="quote">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </div>
                    <div class="content signature">
                        - Mulan Rouge
                    </div>
                </div>
            </div>
            <div class="col-sm-4 testimonial">
                <div class="thumbnail">
                    <div class="quote">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                    </div>
                    <div class="content signature">
                        - Leia Solo
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Connect Container --> 
    <div class="container connect bottom-padding">
        <div class="row text-center">
            <h3 class="title">Connect</h3>
            <div class="highlight">Ipsum lorem candid social span all</div> 
            <hr>
            <div class="col-xs-6 col-sm-3">
                <a href="https://www.facebook.com/highbrowseattle">
                    <i class="fa fa-facebook"></i>
                    <br>
                    <span class="h5">Facebook</span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="https://www.instagram.com/highbrowseattle/">
                    <i class="fa fa-instagram"></i>
                    <br>
                    <span class="h5">Instagram</span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="https://www.yelp.com/biz/highbrow-seattle-seattle-5">
                    <i class="fa fa-yelp"></i>
                    <br>
                    <span class="h5">Yelp</span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <a href="#"><i class="fa fa-linkedin"></i><br><span class="h5">LinkedIn</span><br></a>
            </div>
        </div>
    </div>
        
<% include partials/footer %>