<% include partials/header %>
    
    <!-- Landing container with parallax effect -->
    <div id="services-landing">
        <div class="container-fluid parallax">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content">
                        <h1 class="title">Services</h1>
                        <h4 class="subtitle">
                            <em>Hairline Restoration Services Coming Soon</em>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Services information container -->
    <div class="container info">
        <div class="row">
            <div class="col-md-12">
                <div class="row info-row">
                    <div class="col-sm-6">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <h4>Pre-Procedure</h4>
                        <p>
                            Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <h4>Aftercare</h4>
                        <p>
                            Praesent faucibus nisl sit amet nulla sollicitudin pretium a sed purus. Nullam bibendum porta magna.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Prices Container --> 
    <div class="container">
        <div class="row text-center">
            <h3 class="title">Pricing</h3>
            <hr>
            <div class="col-sm-4 prices">
                <div class="thumbnail">
                    <h4 class="title prices-title">
                        New Clients
                    </h4>
                    <div class="descr">
                        Includes consultation, initial microblading, and 
                        free touchups for 6-8 weeks
                    </div>
                    <div class="value">
                        $400
                    </div>
                </div>
            </div>
            <div class="col-sm-4 prices">
                <div class="thumbnail">
                    <h4 class="title prices-title">
                        Refresher #1
                    </h4>
                    <div class="descr">
                        Need a touchup? Enjoy an entire year of unlimited microblading refreshers
                    </div>
                    <div class="value">
                        $150
                    </div>
                </div>
            </div>
            <div class="col-sm-4 prices">
                <div class="thumbnail">
                    <h4 class="title prices-title">
                        Refresher #2
                    </h4>
                    <div class="descr">
                        You can now rest easy with this deal for unlimited
                        touchups up to two years
                    </div>
                    <div class="value">
                        $250
                    </div>
                </div>
            </div>
        </div>
    </div>

        
<% include partials/footer %>